{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}
{{ 'component-header__mega-menu.css' | asset_url | stylesheet_tag }}
<style>
  @media (max-width: 768px) {
    .c-header__inline-menu {
        display: none;
    }
}
</style>

<nav class="header__inline-menu c-header__inline-menu">
  <ul class="list-menu list-menu--inline c-list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <div>
            <div id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu c-header__hover-menu-item">
              <div
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset" aria-expanded="true"
              >
                <span
                >
                  {{- link.title | escape -}}
                </span>
                {% comment %} {% render 'icon-caret' %} {% endcomment %}
              </div>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="c-mega-menu__content mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <ul
                  class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %} c-header-menu__detail--show"
                  role="list"
                >
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        href="{{ childlink.url }}"
                        class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                        {% if childlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ childlink.title | escape }}
                      </a>
                      {%- if childlink.links != blank -%}
                        <ul class="list-unstyled" role="list">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                href="{{ grandchildlink.url }}"
                                class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </div>
          </div>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="c-header__menu-item--position header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item c-header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
            <p class="c-header__menu--hover-bottom"></p>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
